/* Css */

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
}
.container{
    font-size: 25px;
    color: gray;
    text-transform: uppercase;
}
